* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    
}
* a {
    text-decoration: none;
    color: black;
    
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    padding: 50px 10px;
    background-color: rgb(219, 217, 217, 0.75);
}
header h1 {
    font-size: 20px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    }
header nav ul li a {
    padding: 5px;
}

header nav ul li a:hover {
        background: white;
        border-radius: 15px;
}
.section-wrap {
    min-height: 90vh;
}
footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgb(219, 217, 217, 0.75);
    margin-top: 50px;
    padding-top: 20px;

}
footer h2 {
    padding-right: 50px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    
}
footer ul li {
    padding-right: 20px;
   
}

.section-title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: black;
    border-width: 5px;
}
.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right:auto;
}
.intro h2 {
    padding-bottom: 10px;
}
.profile-pic {
    width: 50%;
    flex-grow: 1;
}
.profile-img {
    flex-grow: 1;
    width: 100%;
    max-width: 300px;
    border-radius: 30px; 
    margin-top: 20px; 
    opacity: 1;
}
.intro-text {
    width: 50%;
    align-self: center;
    flex-grow: 1;
}
.projects-section .section-title {
    padding-top: 50px;
    padding-bottom: 50px;
}
.project-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.project-grid {
    width: 80%;
    max-width: 900px;
    min-height: 600px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.project-grid-item {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    background-position: 0vw;
    opacity: 0.8;
    color: rgba(1, 1, 1, 0)
}

.project-grid-item a {
    color: rgba(1, 1, 1, 0);
}
.project-grid-item:hover {
    opacity: 1;
    color: rgba(1, 1, 1, 1);
 }
 .project-grid-item:hover h4 {
     background: white;
     padding: 20px;
 }
 .project-grid-item:hover a {
     color: black;
 }
/*ADD HERE project-grid-item::after all the pseudo effects, hover, focus etc. rgba color transitions in on hover*/

.project-grid-item.run-buddy {
    background-image: url(./images/run-buddy-snap.jpeg);
    grid-column: 1/3;
    grid-row: 1/4;
}

.project-grid-item.placeholder-img.berries {
    background-image: url(./images/berries-new.jpg);
    grid-column: 2/3;
    grid-row: 4/6;
}
.project-grid-item.placeholder-img.leaves {
    background-image: url(./images/green-leaves-new.jpg);
    grid-column: 3/4;
    grid-row: 4/6;
}
.project-grid-item.placeholder-img.golden {
    background-image: url(./images/golden-new.jpg);
    grid-column: 1/2;
    grid-row:4/6;
}
.project-grid-item.placeholder-img.flower {
    background-image: url(./images/peony-810446_1280.jpg);
    grid-column: 3/4;
    grid-row: 1/4;
}
.project-grid-item.placeholder-img.mountains {
    background-image: url(./images/mountains-new.jpg);
    grid-column: 1/4;
    grid-row: 6/8;
}

.project-grid-item:hover {
   opacity: 1;
}

@media screen and (max-width: 575px) {

    header {
        justify-content: center;
    }

    header h1 {
        padding-bottom: 10px;
    }

    footer h2 {
        padding-bottom: 10px;
    }
    footer ul {
        justify-content: flex-start;
    } 
    .intro {
        width: 300px;
    }
    .intro-text {
        width: 300px;
        text-align: center;
        padding-top: 10px;
        
    }
    .project-grid {
    width: 80%;
    min-height: 500px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.project-grid-item.run-buddy {
    grid-column: 1/1;
    grid-row: 1/2;
}

.project-grid-item.placeholder-img.berries {
    grid-column: 2/3;
    grid-row: 2/3;
}
.project-grid-item.placeholder-img.leaves {
    grid-column: 1/2;
    grid-row: 3/4;
}
.project-grid-item.placeholder-img.golden {
    grid-column: 1/2;
    grid-row:2/3;
}
.project-grid-item.placeholder-img.flower {
    grid-column: 2/3;
    grid-row: 1/2;
}
.project-grid-item.placeholder-img.mountains {
    grid-column: 2/3;
    grid-row: 3/4;
    
}
}
